#import all packages

In [1]:
import pandas as pd
from tabulate import tabulate

#initialize path to HURDAT2 data

In [2]:
path = 'https://www.aoml.noaa.gov/hrd/hurdat/hurdat2.html'
# https://www.nhc.noaa.gov/data/hurdat/hurdat2-format-atlantic.pdf

#assign column names and read CSV data

In [3]:
col_names = ['Date','Time','RecordIdentifier','SystemStatus','Latitude','Longitude','MaxSustWind','MaxPressure',
             'NE34','SE34','SW34','NW34',
             'NE50','SE50','SW50','NW50',
             'NE64','SE64','SW64','NW64']
df = pd.read_csv(path, skiprows = 2, low_memory=False, names=col_names)
print(len(df))
print(df.dtypes)
#print(tabulate(df[52100:52200], headers = col_names))

53737
Date                 object
Time                 object
RecordIdentifier     object
SystemStatus         object
Latitude             object
Longitude            object
MaxSustWind         float64
MaxPressure         float64
NE34                float64
SE34                float64
SW34                float64
NW34                float64
NE50                float64
SE50                float64
SW50                float64
NW50                float64
NE64                float64
SE64                float64
SW64                float64
NW64                float64
dtype: object

#change data types to strings

In [4]:
df.Date.apply(str)
df.Time.apply(str)

0                        nan
1                    UNNAMED
2                       0000
3                       0600
4                       1200
                ...
53732                   0600
53733                   1200
53734                    nan
53735                    nan
53736                    nan
Name: Time, Length: 53737, dtype: object

#print first 10 rows of data

In [18]:
#remove ghost row
newdf = df.drop([0])
print(tabulate(newdf[0:10], headers = col_names))

    Date      Time     RecordIdentifier    SystemStatus    Latitude    Longitude      MaxSustWind    MaxPressure    NE34    SE34    SW34    NW34    NE50    SE50    SW50    NW50    NE64    SE64    SW64    NW64
--  --------  -------  ------------------  --------------  ----------  -----------  -------------  -------------  ------  ------  ------  ------  ------  ------  ------  ------  ------  ------  ------  ------
 1  AL011851  UNNAMED  14                  nan             nan         nan                    nan            nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
 2  18510625  0000                         HU              28.0N       94.8W                   80           -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999
 3  18510625  0600                         HU              28.0N       95.4W                   80           -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999
 4  18510625  1200                         HU              28.0N       96.0W                   80           -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999
 5  18510625  1800                         HU              28.1N       96.5W                   80           -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999
 6  18510625  2100     L                   HU              28.2N       96.8W                   80           -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999
 7  18510626  0000                         HU              28.2N       97.0W                   70           -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999
 8  18510626  0600                         TS              28.3N       97.6W                   60           -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999
 9  18510626  1200                         TS              28.4N       98.3W                   60           -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999
10  18510626  1800                         TS              28.6N       98.9W                   50           -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999    -999

#check if row is convoluted header row (contains ALPHA characters)

In [20]:
print(newdf['Date'][0:10])
newdf['IsStormHdr'] = ~newdf['Date'].str.isdigit()
print(newdf['IsStormHdr'][0:10])
#print(tabulate(df[1:10], headers = col_names))

1         AL011851
2         18510625
3         18510625
4         18510625
5         18510625
6         18510625
7         18510626
8         18510626
9         18510626
10        18510626
Name: Date, dtype: object
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
Name: IsStormHdr, dtype: bool

#create empty columns to receive header data

In [24]:
newdf['Identifier'] = ''
newdf['Name'] = ''
newdf['Samples'] = ''

print(tabulate(newdf[0:10], headers = col_names))
print(newdf.dtypes)

                                Date    Time      RecordIdentifier    SystemStatus    Latitude    Longitude    MaxSustWind    MaxPressure    NE34    SE34    SW34    NW34    NE50    SE50    SW50    NW50  NE64    SE64    SW64    NW64
--  --------  -------  --  ---  ------  ------  ------------------  --------------  ----------  -----------  -------------  -------------  ------  ------  ------  ------  ------  ------  ------  ------  ------  ------  ------  ------
 1  AL011851  UNNAMED  14  nan  nan     nan                    nan             nan         nan          nan            nan            nan     nan     nan     nan     nan     nan     nan     nan     nan  True
 2  18510625  0000         HU   28.0N   94.8W                   80            -999        -999         -999           -999           -999    -999    -999    -999    -999    -999    -999    -999    -999  False
 3  18510625  0600         HU   28.0N   95.4W                   80            -999        -999         -999           -999           -999    -999    -999    -999    -999    -999    -999    -999    -999  False
 4  18510625  1200         HU   28.0N   96.0W                   80            -999        -999         -999           -999           -999    -999    -999    -999    -999    -999    -999    -999    -999  False
 5  18510625  1800         HU   28.1N   96.5W                   80            -999        -999         -999           -999           -999    -999    -999    -999    -999    -999    -999    -999    -999  False
 6  18510625  2100     L   HU   28.2N   96.8W                   80            -999        -999         -999           -999           -999    -999    -999    -999    -999    -999    -999    -999    -999  False
 7  18510626  0000         HU   28.2N   97.0W                   70            -999        -999         -999           -999           -999    -999    -999    -999    -999    -999    -999    -999    -999  False
 8  18510626  0600         TS   28.3N   97.6W                   60            -999        -999         -999           -999           -999    -999    -999    -999    -999    -999    -999    -999    -999  False
 9  18510626  1200         TS   28.4N   98.3W                   60            -999        -999         -999           -999           -999    -999    -999    -999    -999    -999    -999    -999    -999  False
10  18510626  1800         TS   28.6N   98.9W                   50            -999        -999         -999           -999           -999    -999    -999    -999    -999    -999    -999    -999    -999  False
Date                 object
Time                 object
RecordIdentifier     object
SystemStatus         object
Latitude             object
Longitude            object
MaxSustWind         float64
MaxPressure         float64
NE34                float64
SE34                float64
SW34                float64
NW34                float64
NE50                float64
SE50                float64
SW50                float64
NW50                float64
NE64                float64
SE64                float64
SW64                float64
NW64                float64
IsStormHdr             bool
Identifier           object
Name                 object
Samples              object
dtype: object

#Iterate over rows to get header data and write to list

In [40]:
Lidentifier = []
Lname = []
Lsamples = []

identifier = ""
name = ""
samples = ""

for row in newdf.itertuples(index=True):
    if (getattr(row, "IsStormHdr") == True):
        identifier = getattr(row, "Date")
        name = getattr(row, "Time")
        samples = getattr(row, "RecordIdentifier")
    Lidentifier.append(identifier)
    Lname.append(name)
    Lsamples.append(samples

#write list data into dataframe

In [43]:
newdf.Identifier = Lidentifier
newdf.Name = Lname
newdf.Samples = Lsamples

#separate storm header data from track data

In [46]:
storms = newdf[newdf['IsStormHdr'] == True]
storms = storms[['Identifier','Name','Samples']]
print(storms[1600:1800])
tracks = newdf[newdf['IsStormHdr'] == False]
print(tracks)

      Identifier                 Name  Samples
44383   AL112002            JOSEPHINE        9
44393   AL122002                 KYLE       90
44484   AL132002                 LILI       57
44542   AL142002              UNNAMED       11
44554   AL012003                  ANA       39
...          ...                  ...      ...
50522   AL092013             HUMBERTO       46
50569   AL102013               INGRID       22
50592   AL112013                JERRY       33
50626   AL122013                KAREN       14
50641   AL132013              LORENZO       21

[200 rows x 3 columns]
           Date   Time RecordIdentifier SystemStatus Latitude Longitude  \
2      18510625   0000                            HU    28.0N     94.8W
3      18510625   0600                            HU    28.0N     95.4W
4      18510625   1200                            HU    28.0N     96.0W
5      18510625   1800                            HU    28.1N     96.5W
6      18510625   2100                L           HU    28.2N     96.8W
...         ...    ...              ...          ...      ...       ...
53729  20191126   1200                            EX    52.2N      9.3W
53730  20191126   1800                            EX    52.2N      8.9W
53731  20191127   0000                            EX    51.8N      8.2W
53732  20191127   0600                            EX    51.4N      6.0W
53733  20191127   1200                            EX    51.3N      2.1W

       MaxSustWind  MaxPressure   NE34   SE34  ...   SW50   NW50   NE64  \
2             80.0       -999.0 -999.0 -999.0  ... -999.0 -999.0 -999.0
3             80.0       -999.0 -999.0 -999.0  ... -999.0 -999.0 -999.0
4             80.0       -999.0 -999.0 -999.0  ... -999.0 -999.0 -999.0
5             80.0       -999.0 -999.0 -999.0  ... -999.0 -999.0 -999.0
6             80.0       -999.0 -999.0 -999.0  ... -999.0 -999.0 -999.0
...            ...          ...    ...    ...  ...    ...    ...    ...
53729         45.0        970.0   90.0  240.0  ...    0.0    0.0    0.0
53730         40.0        972.0   90.0  240.0  ...    0.0    0.0    0.0
53731         40.0        974.0    0.0  210.0  ...    0.0    0.0    0.0
53732         40.0        976.0    0.0  180.0  ...    0.0    0.0    0.0
53733         40.0        980.0    0.0  120.0  ...    0.0    0.0    0.0

        SE64   SW64   NW64  IsStormHdr    Identifier                 Name  \
2     -999.0 -999.0 -999.0       False      AL011851              UNNAMED
3     -999.0 -999.0 -999.0       False      AL011851              UNNAMED
4     -999.0 -999.0 -999.0       False      AL011851              UNNAMED
5     -999.0 -999.0 -999.0       False      AL011851              UNNAMED
6     -999.0 -999.0 -999.0       False      AL011851              UNNAMED
...      ...    ...    ...         ...           ...                  ...
53729    0.0    0.0    0.0       False      AL202019            SEBASTIEN
53730    0.0    0.0    0.0       False      AL202019            SEBASTIEN
53731    0.0    0.0    0.0       False      AL202019            SEBASTIEN
53732    0.0    0.0    0.0       False      AL202019            SEBASTIEN
53733    0.0    0.0    0.0       False      AL202019            SEBASTIEN

       Samples
2           14
3           14
4           14
5           14
6           14
...        ...
53729       34
53730       34
53731       34
53732       34
53733       34

[51840 rows x 24 columns]